.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $colorBlack;
    .menu{
        display: flex;
        text-align: center;
        margin: 0;
        li{
            list-style-type: none;
            padding: 0;
            margin-left: 10px;
            margin-right: 20px;
            a{
                color: $colorGolden;
                text-decoration: none;
                font-size: small;
                font-weight: bold;
                padding: 5px 5px;
                border-radius: 10px;
                &:hover{
                    @include efectoboton
                }
            }
        }
    }
}

.logoinicio{
        width: 120px;
        height:  auto;
    }

@include mobile{
    .header{
        flex-direction: column;
        text-align: center;
        .menu{
            flex-direction: column;
            align-items: center;
            margin-top: 5px;
            text-align: center;
            li{
                margin-left: 0;
                margin-bottom: 10px;
            }
        }
    }
}           

