*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

$colorBlack: black;
$colorGolden: goldenrod;

@mixin efectoboton{
    transition: 3s;
    background-color: $colorGolden;
    color: $colorBlack;
    }

@mixin fondoform{
    background-color: $colorBlack;
    color: $colorGolden;
}

@mixin mobile{
    @media (min-width: 375px) and (max-width: 767px){
        @content
    }
}