* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}
.header .menu {
  display: flex;
  text-align: center;
  margin: 0;
}
.header .menu li {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  margin-right: 20px;
}
.header .menu li a {
  color: goldenrod;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 10px;
}
.header .menu li a:hover {
  transition: 3s;
  background-color: goldenrod;
  color: black;
}

.logoinicio {
  width: 120px;
  height: auto;
}

footer {
  background: black;
}
footer .container-footer {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0;
}
footer .footer-text {
  display: flex;
  flex: 1;
  text-align: left;
  vertical-align: center;
  color: goldenrod;
}
footer .footer-text .copyright {
  font-size: small;
  font-weight: bold;
}
footer .rrss {
  margin-right: 60px;
  margin-left: 30px;
  width: 40px;
  height: auto;
  border: 1px solid goldenrod;
  border-radius: 30%;
  transition: transform 2s ease;
}
footer .rrss:hover {
  transform: scale(1.2);
}

.whatsapp {
  position: fixed;
  align-content: center;
  border-radius: 20%;
  bottom: 14%;
  right: 5%;
  z-index: 1000;
}
.whatsapp:hover {
  transform: scale(1.3);
  transition: transform 2s ease;
  box-shadow: 0 0 5px green;
}

main {
  background-color: black;
  padding: 20px;
  margin: 10px black;
}
main .tituloindex {
  margin: 20px black;
  display: grid;
  justify-content: center;
  color: goldenrod;
}
main .textoindex {
  color: goldenrod;
  text-align: center;
  padding: 20px;
}
main .accordion {
  font-style: oblique;
  border-radius: 15px;
  padding: 20px;
  margin: 40px;
  box-shadow: 0 1rem 4rem goldenrod;
  background: transparent;
}
main .accordion .acordeonimg {
  width: 50%;
  padding: 20px;
}
main .accordion .accordion-item {
  border: none;
  background: black;
  color: goldenrod;
}
main .accordion .accordion-body {
  background: black;
}
main .accordion .accordion-button {
  background: transparent;
  color: goldenrod;
}
main .accordion .accordion-button:focus {
  color: goldenrod;
  box-shadow: none;
}
main .accordion .accordion-button:not(.collapsed) {
  background: black;
  color: goldenrod;
  font-weight: bold;
  box-shadow: none;
}
main .accordion .accordion-button::after {
  background-color: goldenrod;
}

.main-ubi {
  color: goldenrod;
}
.main-ubi .gallery {
  display: flex;
  flex-wrap: wrap;
}
.main-ubi .gallery img {
  width: 40%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}
.main-ubi .oficinastext {
  font-weight: bold;
  font-size: large;
  font-family: Tahoma;
}
.main-ubi .textubicacion {
  align-content: center;
  margin: 50px;
  font-weight: bold;
}
.main-ubi .textubicacion .arriba {
  text-decoration: none;
  color: brown;
}

.tarjetero {
  justify-content: center;
  display: flex;
  height: auto;
}
.tarjetero .card {
  width: 300px;
  height: auto;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 1rem 2rem goldenrod;
  background-color: black;
}
.tarjetero .card-body {
  background-color: black;
}
.tarjetero .card-title {
  color: goldenrod;
}
.tarjetero .card-text {
  color: goldenrod;
}
.tarjetero .btn {
  background-color: goldenrod;
  color: black;
  font-weight: bold;
  transition: 1s ease;
}

.modal {
  background-color: black;
  color: goldenrod;
}
.modal .modal-header {
  background-color: black;
  color: goldenrod;
}
.modal .modal-body {
  background-color: black;
  color: goldenrod;
}
.modal .modal-footer {
  background-color: black;
  color: goldenrod;
}
.modal .btn-close {
  background-color: goldenrod;
}
.modal .btn-enviar {
  transition: 3s;
  background-color: goldenrod;
  color: black;
  font-weight: bold;
  transition: 1s;
}
.modal .btn-cancelar {
  font-weight: bold;
}

.novedades {
  font-style: italic;
  color: goldenrod;
}
.novedades .texto-novedades {
  font-weight: bold;
  font-family: "Lucida Sans";
  font-size: large;
}
.novedades .acuerdo {
  height: 150px;
  padding: 2px;
  margin: 10px;
  box-shadow: 0 0rem 2rem goldenrod;
  border-radius: 10px;
}
.novedades .formato-campo {
  font-size: small;
  color: orangered;
}
.novedades .btn {
  background-color: black;
  color: goldenrod;
  font-weight: bold;
  transition: 1s ease;
}

.campo-form {
  color: goldenrod;
  box-shadow: 0 0 2rem goldenrod;
  padding: 20px;
  border-radius: 25px;
  margin: 5%;
}
.campo-form .form-check-input:checked {
  border-color: orangered;
  background-color: goldenrod;
}
.campo-form .form-check-input:hover {
  background-color: goldenrod;
}
.campo-form .btn-enviar {
  transition: 3s;
  background-color: goldenrod;
  color: black;
  font-weight: bold;
  transition: 1s;
}
.campo-form .btn-borrar {
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
