@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
}

.menu{
    list-style: none;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li{
    margin-left: 10px;
}

nav ul li a {
    color: goldenrod;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 10px;
}

nav ul li a:hover {
    transition: 2s;
    background-color: rgb(186, 175, 16);
    color: #000000;
}

.logoinicio{
    width: 100px;
    height: auto;
}

body{   
    margin: 0;
}

main{
    margin: 40px;
}

.tituloindex{
    margin: 20px;
    display: grid;
    justify-content: center;
}

.acordeonimg{
    width: 50%;
    padding: 20px;
}

.accordion {
    margin: 30px;
    background-color: lightgray;
    font-style: oblique;
    font-weight: bold;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 1rem 4rem black
}

.especialidad {
    font-weight: bold;
}

.textonovedades {
    color: rgb(73, 34, 6);
    font-weight: bold;
}

.desarrollo{
    font-style: italic;
}

.acuerdo {
    height: 150px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 1rem 2rem rgb(78, 77, 9)
}

.footer{
    background-image: url(../media/backgound.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-footer{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin: 0;
}

.footer-text{
    display: flex;
    flex: 1;
    text-align: left;
    vertical-align: center;
}

.rrss{
    margin-right: 60px;
    margin-left: 30px;
    width: 40px;
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30%;
    transition: transform 1s ease;
}

.rrss:hover{
    transform: scale(1.4);
}

.copyright {
    font-size:small;
    font-weight: bold;
}

.whatsapp{
    position: fixed;
    align-content: center;
    background-color: rgb(73, 199, 88);
    border: 2px solid black;
    border-radius: 20%;
    bottom: 30px;
    right: 10px;
    padding: 7px;
    z-index: 1000;
}

.texto-whatsapp{
    font-size: x-small;
    color: black;
    transition: transform 1s ease;
}

.texto-whatsapp:hover{
    transform: scale(1.25);
    font-weight: bold;
}

.tarjetero{
    justify-content: center;
    display: flex;
    height: auto;
}

.card{
    width: 300px;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 1rem 4rem black
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 50%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}

.oficinastext{
    font-weight: bold;
    font-size: large;
    font-family: Tahoma;
}

.textubicacion{
    align-content: center;
    margin: 50px;
    font-weight: bold;
}

.arriba{
    text-decoration: none;
    color: brown;
}

.textform{
    font-weight: bold;
}

.form-camp{
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 1rem 4rem black
}


@media (min-width: 375px) and (max-width: 767px) {
    .header{
        flex-direction: column;
        text-align: center;
    }

    .menu{
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        text-align: center;
    }

    .menu li{
        margin-left: 0;
        margin-bottom: 10px;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    .container-footer {
        display: block;
        flex-direction: column;
        text-align: center;
    }

    .acordeonimg{
        width: 80%;
    }

    .footer-text{
        flex-direction: column;
        text-align: center;
    }

    .tarjetero{
        display: flex;
        flex-direction: column;
    }
}