@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    height: 100px;
    z-index: 1000;
}

nav{
    text-align: right;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    margin-left: 10px;
}

nav ul li a {
    color: goldenrod;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: rgb(186, 175, 16);
    color: #000000;
}

.logoinicio{
    height: 100px;
}

body{   
    padding-top: 100px;
    padding-left: 10px;
}

.tituloindex{
    margin: 20px;
    display: grid;
    justify-content: center;
}

.acordeonimg{
    width: 300px;
    padding: 20px;
}

.accordion {
    margin: 30px;
    font-style: oblique;
    font-weight: bold;
}

.especialidad {
    font-weight: bold;
}

.textubicacion {
    font-weight: bold;
}

.textonovedades {
    color: rgb(73, 34, 6);
}

.acuerdo {
    border-color: black;
    border-style: dotted;
    height: 150px;
}

.diploma1 {
    width: 250px;
    border-style: double;
    border-width: 8px;
}

footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 40px;
    text-align: center;
    background-image: url(../media/backgound.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.rrss{
    border: 1px solid rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    border-radius: 30%;
    transition: transform 1s ease;
}

.rrss:hover{
    transform: scale(1.4);
}

.copyright {
    font-size:small;
    font-weight: bold;
}

.whatsapp{
    position: fixed;
    align-content: center;
    background-color: rgb(73, 199, 88);
    border: 2px solid black;
    border-radius: 20%;
    bottom: 30px;
    right: 10px;
    padding: 7px;
    z-index: 1000
}

.texto-whatsapp{
    font-size: x-small;
    color: black;
    transition: transform 1s ease;
}

.texto-whatsapp:hover{
    transform: scale(1.25);
}
